.movies{
	overflow:hidden;
	margin-bottom:20px;
}
.movies img{
	display: table;
	float:left;
	width: 200px;
	height:300px;
}
.description{
	text-align: justify;
	padding:5px;
	box-sizing: border-box;
}
.sv{
	display: table;
	float:right;
	margin-left:5px;
}
.sv table{
	width:300px;
}
h2{
	margin-top:0;
}
.info{
	float:right;
	width:672px;
}